//
//  Development.xcconfig
//  Noted
//
//  Created by Robert Taylor on 17/08/2020.
//  Copyright © 2020 Myware. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Noted/Pods-Noted.release (dev).xcconfig"

AUTH0_DOMAIN = dev-xvk6pxhy.eu.auth0.com
AUTH0_CLIENT_ID = v8NV0NqJxIKhEGFS5IL6UCadNq6D55Wt
NOTES_API = https:/$()/glacial-badlands-85832.herokuapp.com
